<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxq.mall.mapper.CmsMenuButtonDicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseMap" type="com.wxq.mall.model.CmsMenuButtonDic">
        <id column="id" property="id" />
        <result column="menu_id" property="menuId" />
        <result column="button_id" property="buttonId" />
        <result column="button_name" property="buttonName" />
        <result column="button_type" property="buttonType" />
    </resultMap>


    <select id="findByPage" resultType="map">
        select d.id,d.menu_id,d.button_id,d.button_name,d.button_type,m.menu_name
        from cms_menu_button_dic d
        inner join cms_menu m
        on d.menu_id = m.menu_id
    </select>

    <select id="findAll" resultMap="baseMap">
        select id,menu_id,button_id,button_name,button_type
        from cms_menu_button_dic
    </select>

    <select id="findDic" resultType="com.wxq.mall.model.CmsMenuButtonDic">
        select id,menu_id,button_id,button_name,button_type
        from cms_menu_button_dic
        where menu_id = #{menuId} and button_id = #{buttonId}
    </select>
</mapper>
