<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxq.mall.mapper.PmsProductStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseMap" type="com.wxq.mall.model.PmsProductStock">
        <result column="id" property="id" />
        <result column="image" property="image" />
        <result column="product_id" property="productId" />
        <result column="sku_code" property="skuCode" />
        <result column="price" property="price" />
        <result column="promotion_price" property="promotionPrice" />
        <result column="sale_num" property="saleNum" />
    </resultMap>


    <select id="findByPage" resultMap="baseMap">
        select id,image,product_id,sku_code,price,promotion_price,sale_num
        from pms_product_stock
    </select>

    <select id="findAll" resultMap="baseMap">
        select id,image,product_id,sku_code,price,promotion_price,sale_num
        from pms_product_stock
    </select>

    <select id="findStockAttrsBySkuCode" parameterType="string" resultType="com.wxq.mall.model.PmsStockAttributeValue">
        select a.sku_code,b.attr_name,c.value_name
        from pms_stock_attribute_value a
        inner join pms_product_attribute b
        on a.attr_id = b.attr_id
        inner join pms_product_attibute_value c
        on a.attr_id = c.attr_id and a.value_id = c.id
        where sku_code = #{skuCode}
    </select>
</mapper>
