<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxq.mall.mapper.PmsProductDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseMap" type="com.wxq.mall.model.PmsProductDetail">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="detail" property="detail" />
    </resultMap>

    <delete id="deleteByProductId" parameterType="string">
        delete from pms_product_detail where produc_id = #{productId}
    </delete>


    <select id="findByPage" resultMap="baseMap">
        select id,product_id,detail
        from pms_product_detail
    </select>

    <select id="findAll" resultMap="baseMap">
        select id,product_id,detail
        from pms_product_detail
    </select>

    <select id="findByProductId" parameterType="string" resultMap="baseMap">
        select id,product_id,detail
        from pms_product_detail
        where product_id = #{productId}
    </select>
</mapper>
