<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxq.mall.mapper.PmsProductAttributeValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseMap" type="com.wxq.mall.model.PmsProductAttributeValue">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="attribute_id" property="attributeId" />
        <result column="attr_value_name" property="attrValueName" />
    </resultMap>

    <delete id="deleteAttrValuesByProductId" parameterType="string">
        delete from pms_product_attribute_value where product_id = #{product_id}
    </delete>

    <select id="findByPage" resultMap="baseMap">
        select id,product_id,attribute_id,attr_value_name
        from pms_product_attribute_value
    </select>

    <select id="findAll" resultMap="baseMap">
        select id,product_id,attribute_id,attr_value_name
        from pms_product_attribute_value
    </select>

    <select id="findAttrValuesByProductId" parameterType="string" resultMap="baseMap">
        select id,product_id,attribute_id,attr_value_name
        from pms_product_attribute_value
        where product_id = #{productId}
    </select>

    <select id="findAttrValuesByAttrId" resultMap="baseMap">
        select id,product_id,attribute_id,attr_value_name
        from pms_product_attribute_value
        where product_id = #{productId} and = attr_id = #{attrId}
    </select>
</mapper>
