<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxq.mall.mapper.UmsBusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseMap" type="com.wxq.mall.model.UmsBusiness">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="business_name" property="businessName" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="region_id" property="regionId" />
        <result column="detail_address" property="detailAddress" />
        <result column="create_time" property="createTime" />
    </resultMap>


    <select id="findByPage" resultMap="baseMap">
        select id,username,business_name,province_id,city_id,region_id,detail_address,create_time
        from ums_business
    </select>

    <select id="findAll" resultMap="baseMap">
        select id,username,business_name,province_id,city_id,region_id,detail_address,create_time
        from ums_business
    </select>

    <select id="findByUsername" parameterType="string" resultMap="baseMap">
        select * from ums_business where username = #{username}
    </select>
</mapper>
